* {
  margin: 0;
  padding: 0;
 
}

body {
  font-family: "Montserrat", serif;
}

.banner {
width: 100%;
margin-top: 55px;

}


.corpo {
  margin-top: 50px;
  padding: 8px;
}

.titulo2 {
  text-align: center;
  color: #0c3bdd;
  
 margin: 10px;
  font-weight: 700;
 
  text-transform: initial;
}