
.container {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
  text-align: center;
}

.produtos {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.produtos::-webkit-scrollbar {
  display: none;
}

.produto {
  min-width: 200px;
  height: 350px;
  margin: 10px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);

}

.produto img {
  width: 100%;
 
  border-radius: 5px;
}

.produto h3 {
  margin: 10px 0;
  font-size: 16px;
  color: #6e4945;
}

.produto p {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.botao-comprar {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.botao-comprar:hover {
  background-color: #218838;
}

.botoes {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #E4B281;
  color: #6e4945;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 20px;
  width: 60px;   /* Definindo a largura */
  height: 60px;  /* Definindo a altura */
  border-radius: 50%; /* Deixa o botão redondo */
}

.esquerda {
  left: 0;
}

.direita {
  right: 0;
}
